@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,900;1,700&display=swap');

:root{
    --pink-lace: #f5cce8;
    --plum-web:#ec9ded;
    --middle-purple: #c880b7;
    --pearl-purple: #9f6ba0;
    --dark-purple: #4a2040;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    /* filter: brightness(10%); */
    background: url(img/wall4.jpg);
    background-position: center;
    background-size: cover;


}

.quote-wrapper{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.274);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 4rem 1.5rem;
    -webkit-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0,1);
    -moz-box-shadow: 0px 2px 15px -5px rgba(0,0,0,1);
    box-shadow: 0px 2px 15px -5px rgba(0,0,0,1);
    color: white;
    width: 350px;

    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.quote-wrapper h2{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: rgb(89, 173, 121);
    text-transform: uppercase;
}

.quote-wrapper small{
    font-weight: 700;
    padding: 0.2rem 1rem;
    color: goldenrod;
    border-radius: 5px;
    text-transform: capitalize;
}

.quote-wrapper blockquote{
    padding: 1.4rem 0;
    font-weight: 400;
    text-transform: capitalize;
}

.quote-wrapper cite{
    display: block;
    font-size: normal;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    color: cyan;
}

#gen-quote-btn{
    font-size: .9rem;
    border: none;
    margin-top: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(190%);
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    /* background:linear-gradient(90deg, purple,black); */
    color: #fff;
    padding: 0.6rem 1.2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    outline: 0;

    -webkit-animation: fadein 2s;
}

#gen-quote-btn{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(253, 253, 253, 0.116);

    -moz-box-shadow: 0px 0px 9px 0px rgba(180, 180, 180, 0.267);

    box-shadow: 0px 0px 9px 0px rgba(90, 0, 126, 0.342);
}

#tweet{
    position: absolute;
    right: 0px;
    bottom: 0px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(190%);
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #fff;
    padding: 0.4rem 1.2rem;
    border-radius: 15px 0px 11px 0px; 
    cursor: pointer;

    -webkit-animation: fadein 2s;
}

@media screen and (min-width:780px) {
    .quote-wrapper{
        width: 400px;
    }
}